In [8]:
# Поиск работника зп которого больше > 100
employees= {
    "Kate":80,
    "ALex":101,
    "Olla":250,
    "Misha":99
}
top_salary = []

for name, values in employees.items():
    if values > 100:
        top_salary.append((name,values))
result_dict = dict(top_salary)
print(result_dict)

{'ALex': 101, 'Olla': 250}

In [13]:
print([(x,y) for x in range(2) for y in range(2)])

[(0, 0), (0, 1), (1, 0), (1, 1)]

In [21]:
lst = list(range(55))
#print(lst_even,lst_odd)
new_list_odd = list()
new_lst_even = [num**2 for num in lst if num % 2 > 0]
print(new_lst_even)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809]

In [26]:
str = "Lorem ipsum dolor sit amet consectetur"
print(str)
up_str = str.upper()
print(up_str)

Lorem ipsum dolor sit amet consectetur
LOREM IPSUM DOLOR SIT AMET CONSECTETUR

In [3]:
text= "Lorem ipsum dolor sit amet consectetur adipiscing elit,\
cursus at elementum a faucibus posuere, natoque euismod netus et orci ante."

new_text = text.replace(",", " ")
print(new_text)

w = [[x for x in line.split() if len(x) >= 3] for line in text.split("/n")]
print(w)

Lorem ipsum dolor sit amet consectetur adipiscing elit cursus at elementum a faucibus posuere  natoque euismod netus et orci ante.
[['Lorem', 'ipsum', 'dolor', 'sit', 'amet', 'consectetur', 'adipiscing', 'elit,cursus', 'elementum', 'faucibus', 'posuere,', 'natoque', 'euismod', 'netus', 'orci', 'ante.']]

In [3]:
txt = ['lambda functions are anonymous functions.',
       'anonymous functions dont have a name.',
       'functions are objects in Python.'] 
mark = map(lambda s: (True, s) if "anonymous" in s else (False, s),txt)
print(list(mark))

[(True, 'lambda functions are anonymous functions.'), (True, 'anonymous functions dont have a name.'), (False, 'functions are objects in Python.')]

In [42]:
ttx = "1 2 3 4 5 6 7 8 9 10 11"
print(ttx[0:5])
print(ttx[6:11])
print(ttx[:11])
print(ttx[6:])
print(ttx[:100])
print(ttx[0:14:2])
print(ttx[::2])
print(ttx[::-1])
print(ttx[5:100:-1])

1 2 3
4 5 6
1 2 3 4 5 6
4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11
1234567
1234567891 1
11 01 9 8 7 6 5 4 3 2 1

In [49]:
# Данные 
letters_amazon = ''' We spent several years building our own database engine,
Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible service with the 
same or better durability and availability as the commercial engines, but at one-tenth of the cost.
We were not surprised when this worked. '''
find = lambda x, y: x[x.find(y)-18:x.find(y)+18] if y in x else -1
print(find(letters_amazon, "SQL"))

a fully-managed MySQL and PostgreSQL

In [51]:
price = [[9.9, 9.8, 9.8, 9.4, 9.5, 9.7],
         [9.5, 9.4, 9.4, 9.3, 9.2, 9.1], 
         [8.4, 7.9, 7.9, 8.1, 8.0, 8.0], 
         [7.1, 5.9, 4.8, 4.8, 4.7, 3.9]]
result_slice = [x[::2] for x in price]
print(result_slice)

[[9.9, 9.8, 9.5], [9.5, 9.4, 9.2], [8.4, 7.9, 8.0], [7.1, 4.8, 4.7]]

In [53]:
# Однострочное решение для замены всех испорченных строк 
visitors = ['Firefox', 'corrupted', 'Chrome', 'corrupted', 
            'Safari', 'corrupted', 'Safari', 'corrupted', 
            'Chrome', 'corrupted', 'Firefox', 'corrupted'] 
visitors[1::2] = visitors[::2]
print(visitors)

['Firefox', 'Firefox', 'Chrome', 'Chrome', 'Safari', 'Safari', 'Safari', 'Safari', 'Chrome', 'Chrome', 'Firefox', 'Firefox']

In [64]:
#any
print([y*y for y in range(20)])
print(sum(x*x for x in range(20)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
2470

In [67]:
#Задача
companies = {
    'CoolCompany' : {'Alice' : 33, 'Bob' : 28, 'Frank' : 29}, 
    'CheapCompany' : {'Ann' : 4, 'Lee' : 9, 'Chrisi' : 7}, 
    'SosoCompany' : {'Esther' : 38, 'Cole' : 8, 'Paris' : 18}
} 
bad_company = [x for x in companies if any(y < 9 for y in companies[x].values())]
print(bad_company)

['CheapCompany', 'SosoCompany']

In [1]:
# Задача with zip
info_one = ['name','salary','job']
info_two = ['Bob', 99000, 'mid-level manager']
full_info = list(zip(info_one,info_two))
print(full_info)
full_info_one_line =

[('name', 'Bob'), ('salary', 99000), ('job', 'mid-level manager')]

In [2]:
# Задача 2
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'mid-level manager'),
           ('Frank', 87000, 'CEO')
          ]
db = [dict(zip(column_names,row))for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'mid-level manager'}, {'name': 'Frank', 'salary': 87000, 'job': 'CEO'}]

In [4]:
k = [1,5,2,5,1]
print(k[-1])

for i in range(1, len(k)):
    if k[i] > k[i-1]:
        print(k[i], end=' ')

1
5 5